[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
django-admin-interface = "==0.10.5"
django-appconf = "==1.0.3"
django-colorfield = "==0.1.15"
django-compressor = "==2.3"
django-flat-responsive = "==2.0"
django-flat-theme = "==1.1.4"
django-libsass = "==0.7"
django-mysql = "==3.2.0"
html5lib = "*"
libsass = "*"
mysqlclient = "*"
pytz = "*"
rcssmin = "*"
reportlab = "*"
rjsmin = "*"
six = "*"
sqlparse = "*"
webencodings = "*"
xhtml2pdf = "*"
Django = "==2.2.4"
Pillow = "*"
PyPDF2 = "*"
pdfrw = "*"

[requires]
python_version = "3.6"
