{% comment %}

           /       '_ /_/ 
          ()(/__/)/(//)/  
            /     _/      

{% endcomment %}
{% load wod_filters %}

{% block creature %}

<div class='creature {{c.faction}}'>

{% if c.creature == 'kindred' %}

<table cellspacing=0 cellpadding=0>
<tr>
  <th class='clan_logo'>{{c.family|to_logo|safe}}</th>
  <th colspan=7 align='left'><strong>{{ c.name }}</strong> {% if c.nickname != '' %}({{c.nickname}}){%endif%}<br>{{ c.background3|as_generation }} generation {{ c.family }} {% if c.player != '' %}({{c.player}}){%endif%}
  </th>
</tr>
<tr>
  <th>Age</th><td  class='editable userinput' id='{{c.id}}_age'>{{c.age}}</td>  
  <th>Embrace</th><td>{{ c.embrace }}</td>
  <th>Experience</th><td id='{{c.id}}_experience'>{{ c.experience }}</td>
  <th>Nature</th><td class='editable userinput' id='{{c.id}}_nature'>{{c.nature}}</td>
</tr>
<tr>
  <th>TrueAge</th><td  class='editable userinput' id='{{c.id}}_trueage'>{{c.trueage}}</td>  
  <th>Status</th><td class='editable userinput' id='{{c.id}}_status'>{{c.status}}</td>
  <th>Concept</th><td class='editable userinput' id='{{c.id}}_concept'>{{ c.concept }}</td>
  <th>Demeanor</th><td class='editable userinput' id='{{c.id}}_demeanor'>{{c.demeanor}}</td>
</tr>
<tr>
  <th>Clan</th><td class='editable userinput' id='{{c.id}}_family'>{{ c.family }}</td>
  <th>Sire</th><td class='editable userinput' id='{{c.id}}_sire'>{{ c.sire }}</td>
  <th>Group</th><td class='editable userinput' id='{{c.id}}_group'>{{c.group}}</td>
  <th>Subgroup</th><td class='editable userinput' id='{{c.id}}_groupspec'>{{c.groupspec}}</td></td>
</tr>
<tr>
  <th>Faction</th><td class='editable userinput' id='{{c.id}}_faction'>{{ c.faction }}</td>
  <th>Freebies</th><td id='{{c.id}}_freebiedif'>{{ c.freebiedif }}</td>
  <th>Gender</th><td class='editable userinput' id='{{c.id}}_sex'>{% if c.sex == False %}Female{%else%}Male{%endif%}</td>
  <th>Condition</th><td class='editable userinput' id='{{c.id}}_condition'>{{c.condition}}</td>
</tr>

<tr>
  <th>Torpor</th><td class='editable userinput' id='{{c.id}}_timeintorpor'>{{ c.timeintorpor }}</td>
  <th>Expected Freebies</th><td id='{{c.id}}_expectedfreebies'>{{ c.expectedfreebies }}</td>
  <th>Disciplines</th><td id='{{c.id}}_disciplinepoints'>{{ c.disciplinepoints }}</td>
  <th>Source</th><td class='editable userinput' id='{{c.id}}_source'>{{ c.source }}</td>
</tr>

  <tr>
    <td colspan=2>Physical</td>
    <td colspan=2>Social</td>
    <td colspan=2>Mental</td>
    <td colspan=2>Topic</td>
  </tr>
<tr>
  <th>Strength</th><td class='editable updown' id='{{c.id}}_attribute0'>{{ c.attribute0|as_bullets|safe }}</td>
  <th>Charisma</th><td class='editable updown' id='{{c.id}}_attribute3'>{{ c.attribute3|as_bullets|safe }}</td>
  <th>Perception</th><td class='editable updown' id='{{c.id}}_attribute6'>{{c.attribute6|as_bullets|safe }}</td>
  <td rowspan=3 colspan=2 class='topic'>{{c.topic|safe}}</td>
</tr>
<tr>
  <th>Dexterity</th><td class='editable updown' id='{{c.id}}_attribute1'>{{ c.attribute1|as_bullets|safe }}</td>
  <th>Manipulation</th><td class='editable updown' id='{{c.id}}_attribute4'>{{ c.attribute4|as_bullets|safe }}</td>
  <th>Intelligence</th><td class='editable updown' id='{{c.id}}_attribute7'>{{c.attribute7|as_bullets|safe }}</td>
</tr>
<tr>
  <th>Stamina</th><td class='editable updown' id='{{c.id}}_attribute2'>{{ c.attribute2|as_bullets|safe }}</td>
  <th>Appearance</th><td class='editable updown' id='{{c.id}}_attribute5'>{{ c.attribute5|as_bullets|safe }}</td>
  <th>Wits</th><td class='editable updown' id='{{c.id}}_attribute8'>{{c.attribute8|as_bullets|safe }}</td>
</tr>

  <tr>
    <td colspan=2>Talents</td>
    <td colspan=2>Skills</td>
    <td colspan=2>Knowledges</td>
    <td colspan=2>Merits</td>
  </tr>
<tr>
  <th>Alertness</th><td class='editable updown' id='{{c.id}}_talent0'>{{ c.talent0|as_bullets|safe }}</td>
  <th>Animal Ken</th><td class='editable updown' id='{{c.id}}_skill0'>{{ c.skill0|as_bullets|safe }}</td>
  <th>Academics</th><td class='editable updown' id='{{c.id}}_knowledge0'>{{c.knowledge0|as_bullets|safe }}</td>
  {{ c.merit0|param_stack:c.id|as_discipline2:"merit0"|safe }}
</tr>
<tr>
  <th>Athletics</th><td class='editable updown' id='{{c.id}}_talent1'>{{ c.talent1|as_bullets|safe }}</td>
  <th>Craft</th><td class='editable updown' id='{{c.id}}_skill1'>{{ c.skill1|as_bullets|safe }}</td>
  <th>Computer</th><td class='editable updown' id='{{c.id}}_knowledge1'>{{c.knowledge1|as_bullets|safe }}</td>
  {{ c.merit1|param_stack:c.id|as_discipline2:"merit1"|safe }}
</tr>
<tr>
  <th>Brawl</th><td class='editable updown' id='{{c.id}}_talent2'>{{ c.talent2|as_bullets|safe }}</td>
  <th>Drive</th><td class='editable updown' id='{{c.id}}_skill2'>{{ c.skill2|as_bullets|safe }}</td>
  <th>Finance</th><td class='editable updown' id='{{c.id}}_knowledge2'>{{c.knowledge2|as_bullets|safe }}</td>
  {{ c.merit2|param_stack:c.id|as_discipline2:"merit2"|safe }}
</tr>
<tr>
  <th>Dodge</th><td class='editable updown' id='{{c.id}}_talent3'>{{ c.talent3|as_bullets|safe }}</td>
  <th>Etiquette</th><td class='editable updown' id='{{c.id}}_skill3'>{{ c.skill3|as_bullets|safe }}</td>
  <th>Investigation</th><td class='editable updown' id='{{c.id}}_knowledge3'>{{c.knowledge3|as_bullets|safe }}</td>
  {{ c.merit3|param_stack:c.id|as_discipline2:"merit3"|safe }}
</tr>
<tr>
  <th>Empathy</th><td class='editable updown' id='{{c.id}}_talent4'>{{ c.talent4|as_bullets|safe }}</td>
  <th>Firearms</th><td class='editable updown' id='{{c.id}}_skill4'>{{ c.skill4|as_bullets|safe }}</td>
  <th>Law</th><td class='editable updown' id='{{c.id}}_knowledge4'>{{c.knowledge4|as_bullets|safe }}</td>
  {{ c.merit4|param_stack:c.id|as_discipline2:"merit4"|safe }}
</tr>

<tr>
  <th>Expression</th><td class='editable updown' id='{{c.id}}_talent5'>{{ c.talent5|as_bullets|safe }}</td>
  <th>Melee</th><td class='editable updown' id='{{c.id}}_skill5'>{{ c.skill5|as_bullets|safe }}</td>
  <th>Linguistics</th><td class='editable updown' id='{{c.id}}_knowledge5'>{{c.knowledge5|as_bullets|safe }}</td>
  {{ c.merit5|param_stack:c.id|as_discipline2:"merit5"|safe }}
</tr>
<tr>
  <th>Intimidation</th><td class='editable updown' id='{{c.id}}_talent6'>{{ c.talent6|as_bullets|safe }}</td>
  <th>Performance</th><td class='editable updown' id='{{c.id}}_skill6'>{{ c.skill6|as_bullets|safe }}</td>
  <th>Medicine</th><td class='editable updown' id='{{c.id}}_knowledge6'>{{c.knowledge6|as_bullets|safe }}</td>
  {{ c.merit6|param_stack:c.id|as_discipline2:"merit6"|safe }}
</tr>
<tr>
  <th>Leadership</th><td class='editable updown' id='{{c.id}}_talent7'>{{ c.talent7|as_bullets|safe }}</td>
  <th>Security</th><td class='editable updown' id='{{c.id}}_skill7'>{{ c.skill7|as_bullets|safe }}</td>
  <th>Occult</th><td class='editable updown' id='{{c.id}}_knowledge7'>{{c.knowledge7|as_bullets|safe }}</td>
  {{ c.merit7|param_stack:c.id|as_discipline2:"merit7"|safe }}
</tr>

<tr>
  <th>Streetwise</th><td class='editable updown' id='{{c.id}}_talent8'>{{ c.talent8|as_bullets|safe }}</td>
  <th>Stealth</th><td class='editable updown' id='{{c.id}}_skill8'>{{ c.skill8|as_bullets|safe }}</td>
  <th>Politics</th><td class='editable updown' id='{{c.id}}_knowledge8'>{{c.knowledge8|as_bullets|safe }}</td>
  {{ c.merit8|param_stack:c.id|as_discipline2:"merit8"|safe }}
</tr>
<tr>
  <th>Subterfuge</th><td class='editable updown' id='{{c.id}}_talent9'>{{ c.talent9|as_bullets|safe }}</td>
  <th>Survival</th><td class='editable updown' id='{{c.id}}_skill9'>{{ c.skill9|as_bullets|safe }}</td>
  <th>Science</th><td class='editable updown' id='{{c.id}}_knowledge9'>{{c.knowledge9|as_bullets|safe }}</td>
  {{ c.merit9|param_stack:c.id|as_discipline2:"merit9"|safe }}
</tr>
  <tr>
    <td colspan=2>Backgrounds</td>
    <td colspan=2>Disciplines</td>
    <td colspan=2>Virtues</td>
    <td colspan=2>Flaws</td>
  </tr>
  <tr>
    <th>Allies</th><td class='editable updown' id='{{c.id}}_background0'>{{ c.background0|as_bullets|safe }}</td>
    {{ c.gift0|param_stack:c.id|as_discipline2:"gift0"|safe }}
    <th>Conscience</th><td class='editable updown' id='{{c.id}}_level0'>{{ c.level0|as_bullets|safe }}</td>
    {{ c.flaw0|param_stack:c.id|as_discipline2:"flaw0"|safe }}
  </tr>
  <tr>
    <th>Contacts</th><td class='editable updown' id='{{c.id}}_background1'>{{ c.background1|as_bullets|safe }}</td>
    {{ c.gift1|param_stack:c.id|as_discipline2:"gift1"|safe }}    
    <th>Self-Control</th><td class='editable updown' id='{{c.id}}_level1'>{{ c.level1|as_bullets|safe }}</td>
    {{ c.flaw1|param_stack:c.id|as_discipline2:"flaw1"|safe }}
  </tr>
  <tr>
    <th>Fame</th><td class='editable updown' id='{{c.id}}_background2'>{{ c.background2|as_bullets|safe }}</td>
    {{ c.gift2|param_stack:c.id|as_discipline2:"gift2"|safe }}    
    <th>Courage</th><td class='editable updown' id='{{c.id}}_level2'>{{ c.level2|as_bullets|safe }}</td>
    {{ c.flaw2|param_stack:c.id|as_discipline2:"flaw2"|safe }}
  </tr>
  <tr>
    <th>Generation</th><td class='editable updown' id='{{c.id}}_background3'>{{ c.background3|as_bullets|safe }}</td>
    {{ c.gift3|param_stack:c.id|as_discipline2:"gift3"|safe }}    
    <th></th><td></td>
    {{ c.flaw3|param_stack:c.id|as_discipline2:"flaw3"|safe }}
  </tr>
  <tr>
    <th>Herd</th><td class='editable updown' id='{{c.id}}_background4'>{{ c.background4|as_bullets|safe }}</td>
    {{ c.gift4|param_stack:c.id|as_discipline2:"gift4"|safe }}    
    <th></th><td></td>
    {{ c.flaw4|param_stack:c.id|as_discipline2:"flaw4"|safe }}
  </tr>
  <tr>
    <th>Influence</th><td class='editable updown' id='{{c.id}}_background5'>{{ c.background5|as_bullets|safe }}</td>
    {{ c.gift5|param_stack:c.id|as_discipline2:"gift5"|safe }}    
    <th></th><td></td>
    {{ c.flaw5|param_stack:c.id|as_discipline2:"flaw5"|safe }}
  </tr>
  <tr>
    <th>Mentor</th><td class='editable updown' id='{{c.id}}_background6'>{{ c.background6|as_bullets|safe }}</td>
    {{ c.gift6|param_stack:c.id|as_discipline2:"gift6"|safe }}    
    <th></th><td></td>
    {{ c.flaw6|param_stack:c.id|as_discipline2:"flaw6"|safe }}
  </tr>
  <tr>
    <th>Resources</th><td class='editable updown' id='{{c.id}}_background7'>{{ c.background7|as_bullets|safe }}</td>
    {{ c.gift7|param_stack:c.id|as_discipline2:"gift7"|safe }}    
    <th></th><td></td>
    {{ c.flaw7|param_stack:c.id|as_discipline2:"flaw7"|safe }}
  </tr>
  <tr>
    <th>Retainers</th><td class='editable updown' id='{{c.id}}_background8'>{{ c.background8|as_bullets|safe }}</td>
    {{ c.gift8|param_stack:c.id|as_discipline2:"gift8"|safe }}    
    <th></th><td></td>
    {{ c.flaw8|param_stack:c.id|as_discipline2:"flaw8"|safe }}
  </tr>
  <tr>
    <th>Status</th><td class='editable updown' id='{{c.id}}_background9'>{{ c.background9|as_bullets|safe }}</td>
    {{ c.gift9|param_stack:c.id|as_discipline2:"gift9"|safe }}    
    <th></th><td></td>
    {{ c.flaw9|param_stack:c.id|as_discipline2:"flaw9"|safe }}
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift10|param_stack:c.id|as_discipline2:"gift10"|safe }}    
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift11|param_stack:c.id|as_discipline2:"gift11"|safe }}    
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift12|param_stack:c.id|as_discipline2:"gift12"|safe }}    
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift13|param_stack:c.id|as_discipline2:"gift13"|safe }}    
    <th>Path of {{c.path}}</th><td>{{ c.power1|as_bullets|safe }}</td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift14|param_stack:c.id|as_discipline2:"gift14"|safe }}    
    <th>Willpower</th><td>{{ c.willpower|as_bullets|safe }}</td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{ c.gift15|param_stack:c.id|as_discipline2:"gift15"|safe }}    
    <th>Blood Pool</th><td>{{ c.power2|as_bullets:'50'|safe }}</td>
    <th></th><td></td>
  </tr>    
</table>

{% elif c.creature == 'mortal' %}

<table cellspacing=0 cellpadding=0>
<tr>
  <td>{{c.family|to_logo|safe}}</td>
  <td colspan=7><strong>{{ c.name }}</strong>
  {% if c.sire != '' %}<br/>Ghoul of <em>{{ c.sire }}</em></td>{%endif%}
  </tr>
<tr>
  <th>Age</th><td  class='editable userinput' id='{{c.id}}_age'>{{c.age}}</td>  
  <th>Embrace</th><td>{{ c.embrace }}</td>
  <th>Points as Disciplines</th><td id='{{c.id}}_disciplinepoints'>{{ c.disciplinepoints }}</td>
  <th>Nature</th><td class='editable userinput' id='{{c.id}}_nature'>{{c.nature}}</td>
</tr>
<tr>
  <th>TrueAge</th><td  class='editable userinput' id='{{c.id}}_trueage'>{{c.trueage}}</td>  
  <th>Status</th><td class='editable userinput' id='{{c.id}}_status'>{{c.status}}</td>
  <th>Concept</th><td class='editable userinput' id='{{c.id}}_concept'>{{ c.concept }}</td>
  <th>Demeanor</th><td class='editable userinput' id='{{c.id}}_demeanor'>{{c.demeanor}}</td>
</tr>
<tr>
  <th>Clan</th><td class='editable userinput' id='{{c.id}}_family'>{{ c.family }}</td>
  <th>Sire</th><td class='editable userinput' id='{{c.id}}_sire'>{{ c.sire }}</td>
  <th>Group</th><td class='editable userinput' id='{{c.id}}_group'>{{c.group}}</td>
  <th>Subgroup</th><td class='editable userinput' id='{{c.id}}_groupspec'>{{c.groupspec}}</td></td>
</tr>
<tr>
  <th>Faction</th><td class='editable userinput' id='{{c.id}}_faction'>{{ c.faction }}</td>
  <th>Freebies</th><td id='{{c.id}}_freebiedif'>{{ c.freebiedif }}</td>
  <th>Gender</th><td class='editable userinput' id='{{c.id}}_sex'>{% if c.sex == False %}Female{%else%}Male{%endif%}</td>
  <th>Condition</th><td class='editable userinput' id='{{c.id}}_condition'>{{c.condition}}</td>
</tr>



  <tr>
    <td colspan=2>Physical</td>
    <td colspan=2>Social</td>
    <td colspan=2>Mental</td>
    <td colspan=2>Topic</td>
  </tr>
<tr>
  <th>Strength</th><td class='editable updown' id='{{c.id}}_attribute0'>{{ c.attribute0|as_bullets|safe }}</td>
  <th>Charisma</th><td class='editable updown' id='{{c.id}}_attribute3'>{{ c.attribute3|as_bullets|safe }}</td>
  <th>Perception</th><td class='editable updown' id='{{c.id}}_attribute6'>{{c.attribute6|as_bullets|safe }}</td>
  <td rowspan=3 colspan=2>{{c.topic}}</td>
</tr>
<tr>
  <th>Dexterity</th><td class='editable updown' id='{{c.id}}_attribute1'>{{ c.attribute1|as_bullets|safe }}</td>
  <th>Manipulation</th><td class='editable updown' id='{{c.id}}_attribute4'>{{ c.attribute4|as_bullets|safe }}</td>
  <th>Intelligence</th><td class='editable updown' id='{{c.id}}_attribute7'>{{c.attribute7|as_bullets|safe }}</td>
</tr>
<tr>
  <th>Stamina</th><td class='editable updown' id='{{c.id}}_attribute2'>{{ c.attribute2|as_bullets|safe }}</td>
  <th>Appearance</th><td class='editable updown' id='{{c.id}}_attribute5'>{{ c.attribute5|as_bullets|safe }}</td>
  <th>Wits</th><td class='editable updown' id='{{c.id}}_attribute8'>{{c.attribute8|as_bullets|safe }}</td>
</tr>

  <tr>
    <td colspan=2>Talents</td>
    <td colspan=2>Skills</td>
    <td colspan=2>Knowledges</td>
    <td colspan=2>Merits</td>
  </tr>
<tr>
  <th>Alertness</th><td class='editable updown' id='{{c.id}}_talent0'>{{ c.talent0|as_bullets|safe }}</td>
  <th>Animal Ken</th><td class='editable updown' id='{{c.id}}_skill0'>{{ c.skill0|as_bullets|safe }}</td>
  <th>Academics</th><td class='editable updown' id='{{c.id}}_knowledge0'>{{c.knowledge0|as_bullets|safe }}</td>
  {{c.merit0|as_discipline|safe}}
</tr>
<tr>
  <th>Athletics</th><td class='editable updown' id='{{c.id}}_talent1'>{{ c.talent1|as_bullets|safe }}</td>
  <th>Craft</th><td class='editable updown' id='{{c.id}}_skill1'>{{ c.skill1|as_bullets|safe }}</td>
  <th>Computer</th><td class='editable updown' id='{{c.id}}_knowledge1'>{{c.knowledge1|as_bullets|safe }}</td>
  {{c.merit1|as_discipline|safe}}
</tr>
<tr>
  <th>Brawl</th><td class='editable updown' id='{{c.id}}_talent2'>{{ c.talent2|as_bullets|safe }}</td>
  <th>Drive</th><td class='editable updown' id='{{c.id}}_skill2'>{{ c.skill2|as_bullets|safe }}</td>
  <th>Finance</th><td class='editable updown' id='{{c.id}}_knowledge2'>{{c.knowledge2|as_bullets|safe }}</td>
  {{c.merit2|as_discipline|safe}}
</tr>
<tr>
  <th>Dodge</th><td class='editable updown' id='{{c.id}}_talent3'>{{ c.talent3|as_bullets|safe }}</td>
  <th>Etiquette</th><td class='editable updown' id='{{c.id}}_skill3'>{{ c.skill3|as_bullets|safe }}</td>
  <th>Investigation</th><td class='editable updown' id='{{c.id}}_knowledge3'>{{c.knowledge3|as_bullets|safe }}</td>
  {{c.merit3|as_discipline|safe}}
</tr>
<tr>
  <th>Empathy</th><td class='editable updown' id='{{c.id}}_talent4'>{{ c.talent4|as_bullets|safe }}</td>
  <th>Firearms</th><td class='editable updown' id='{{c.id}}_skill4'>{{ c.skill4|as_bullets|safe }}</td>
  <th>Law</th><td class='editable updown' id='{{c.id}}_knowledge4'>{{c.knowledge4|as_bullets|safe }}</td>
  {{c.merit4|as_discipline|safe}}
</tr>

<tr>
  <th>Expression</th><td class='editable updown' id='{{c.id}}_talent5'>{{ c.talent5|as_bullets|safe }}</td>
  <th>Melee</th><td class='editable updown' id='{{c.id}}_skill5'>{{ c.skill5|as_bullets|safe }}</td>
  <th>Linguistics</th><td class='editable updown' id='{{c.id}}_knowledge5'>{{c.knowledge5|as_bullets|safe }}</td>
  {{c.merit5|as_discipline|safe}}
</tr>
<tr>
  <th>Intimidation</th><td class='editable updown' id='{{c.id}}_talent6'>{{ c.talent6|as_bullets|safe }}</td>
  <th>Performance</th><td class='editable updown' id='{{c.id}}_skill6'>{{ c.skill6|as_bullets|safe }}</td>
  <th>Medicine</th><td class='editable updown' id='{{c.id}}_knowledge6'>{{c.knowledge6|as_bullets|safe }}</td>
  {{c.merit6|as_discipline|safe}}
</tr>
<tr>
  <th>Leadership</th><td class='editable updown' id='{{c.id}}_talent7'>{{ c.talent7|as_bullets|safe }}</td>
  <th>Security</th><td class='editable updown' id='{{c.id}}_skill7'>{{ c.skill7|as_bullets|safe }}</td>
  <th>Occult</th><td class='editable updown' id='{{c.id}}_knowledge7'>{{c.knowledge7|as_bullets|safe }}</td>
  {{c.merit7|as_discipline|safe}}
</tr>

<tr>
  <th>Streetwise</th><td class='editable updown' id='{{c.id}}_talent8'>{{ c.talent8|as_bullets|safe }}</td>
  <th>Stealth</th><td class='editable updown' id='{{c.id}}_skill8'>{{ c.skill8|as_bullets|safe }}</td>
  <th>Politics</th><td class='editable updown' id='{{c.id}}_knowledge8'>{{c.knowledge8|as_bullets|safe }}</td>
  {{c.merit8|as_discipline|safe}}
</tr>
<tr>
  <th>Subterfuge</th><td class='editable updown' id='{{c.id}}_talent9'>{{ c.talent9|as_bullets|safe }}</td>
  <th>Survival</th><td class='editable updown' id='{{c.id}}_skill9'>{{ c.skill9|as_bullets|safe }}</td>
  <th>Science</th><td class='editable updown' id='{{c.id}}_knowledge9'>{{c.knowledge9|as_bullets|safe }}</td>
  {{c.merit9|as_discipline|safe}}
</tr>

  <tr>
    <td colspan=2>Backgrounds</td>
    <td colspan=2>Disciplines</td>
    <td colspan=2>Virtues</td>
    <td colspan=2>Flaws</td>
  </tr>
  <tr>
    <th>Allies</th><td class='editable updown' id='{{c.id}}_background0'>{{ c.background0|as_bullets|safe }}</td>
    {{c.gift0|as_discipline|safe}}
    <th>Conscience</th><td>{{ c.level0|as_bullets|safe }}</td>
    {{c.flaw0|as_discipline|safe}}
  </tr>
  <tr>
    <th>Contacts</th><td class='editable updown' id='{{c.id}}_background1'>{{ c.background1|as_bullets|safe }}</td>
    {{c.gift1|as_discipline|safe}}
    <th>Self-Control</th><td>{{ c.level1|as_bullets|safe }}</td>
    {{c.flaw1|as_discipline|safe}}
  </tr>
  <tr>
    <th>Fame</th><td class='editable updown' id='{{c.id}}_background2'>{{ c.background2|as_bullets|safe }}</td>
    {{c.gift2|as_discipline|safe}}
    <th>Courage</th><td>{{ c.level2|as_bullets|safe }}</td>
    {{c.flaw2|as_discipline|safe}}
  </tr>
  <tr>
    <th>Generation</th><td class='editable updown' id='{{c.id}}_background3'>{{ c.background3|as_bullets|safe }}</td>
    {{c.gift3|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw3|as_discipline|safe}}
  </tr>
  <tr>
    <th>Herd</th><td class='editable updown' id='{{c.id}}_background4'>{{ c.background4|as_bullets|safe }}</td>
    {{c.gift4|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw4|as_discipline|safe}}
  </tr>
  <tr>
    <th>Influence</th><td class='editable updown' id='{{c.id}}_background5'>{{ c.background5|as_bullets|safe }}</td>
    {{c.gift5|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw5|as_discipline|safe}}
  </tr>
  <tr>
    <th>Mentor</th><td class='editable updown' id='{{c.id}}_background6'>{{ c.background6|as_bullets|safe }}</td>
    {{c.gift6|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw6|as_discipline|safe}}
  </tr>
  <tr>
    <th>Resources</th><td class='editable updown' id='{{c.id}}_background7'>{{ c.background7|as_bullets|safe }}</td>
    {{c.gift7|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw7|as_discipline|safe}}
  </tr>
  <tr>
    <th>Retainers</th><td class='editable updown' id='{{c.id}}_background8'>{{ c.background8|as_bullets|safe }}</td>
    {{c.gift8|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw8|as_discipline|safe}}
  </tr>
  <tr>
    <th>Status</th><td class='editable updown' id='{{c.id}}_background9'>{{ c.background9|as_bullets|safe }}</td>
    {{c.gift9|as_discipline|safe}}
    <th></th><td></td>
    {{c.flaw9|as_discipline|safe}}
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift10|as_discipline|safe}}
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift11|as_discipline|safe}}
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift12|as_discipline|safe}}
    <th></th><td></td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift13|as_discipline|safe}}
    <th>Path of {{c.path}}</th><td>{{ c.power1|as_bullets|safe }}</td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift14|as_discipline|safe}}
    <th>Willpower</th><td>{{ c.willpower|as_bullets|safe }}</td>
    <th></th><td></td>
  </tr>
  <tr>
    <th></th><td></td>
    {{c.gift15|as_discipline|safe}}
    <th>Blood Pool</th><td>{{ c.power2|as_bullets:'50'|safe }}</td>
    <th></th><td></td>
  </tr>    
</table>

{% else %}






<table>
  <tr><th colspan=6><strong>{{ c.name }}</strong></th></tr>
  <tr><td colspan=6><em>{{c.name}}</em> has an unhandled creature type ({{c.creature}})...</td></tr>
</table>




{% endif %}

</div>

{% endblock creature %}
