{% load wod_filters %}
<table cellspacing=0 cellpadding=0>
    {% include "collector/creature/main_header.html" with c=c %}
    <tr>
        <th>Age</th>
        <td class='editable userinput' id='{{c.id}}_age'>{{c.age}}</td>
        <th>Embrace</th>
        <td>{{ c.embrace }}</td>
        <th>Experience</th>
        <td id='{{c.id}}_experience'>{{ c.experience }}</td>
        <th>Nature</th>
        <td class='editable userinput' id='{{c.id}}_nature'>{{c.nature}}</td>
    </tr>
    <tr>
        <th>TrueAge</th>
        <td class='editable userinput' id='{{c.id}}_trueage'>{{c.trueage}}</td>
        <th>Status</th>
        <td class='editable userinput' id='{{c.id}}_status'>{{c.status}}</td>
        <th>Concept</th>
        <td class='editable userinput' id='{{c.id}}_concept'>{{ c.concept }}</td>
        <th>Demeanor</th>
        <td class='editable userinput' id='{{c.id}}_demeanor'>{{c.demeanor}}</td>
    </tr>
    <tr>
        <th>Clan</th>
        <td class='editable userinput' id='{{c.id}}_family'>{{ c.family }}</td>
        <th>Sire</th>
        <td class='editable userinput' id='{{c.id}}_sire'>{{ c.sire }}</td>
        <th>Group</th>
        <td class='editable userinput' id='{{c.id}}_group'>{{c.group}}</td>
        <th>Subgroup</th>
        <td class='editable userinput' id='{{c.id}}_groupspec'>{{c.groupspec}}</td>
        </td>
    </tr>
    <tr>
        <th>Faction</th>
        <td class='editable userinput' id='{{c.id}}_faction'>{{ c.faction }}</td>
        <th>Freebies</th>
        <td id='{{c.id}}_freebies'>{{ c.freebies }}</td>
        <th>Sex</th>
        <td class='editable userinput' id='{{c.id}}_sex'>{% if c.sex == False %}Female{%else%}Male{%endif%}</td>
        <th>Condition</th>
        <td class='editable userinput' id='{{c.id}}_condition'>{{c.condition}}</td>
    </tr>

    <tr>
        <th>Torpor</th>
        <td class='editable userinput' id='{{c.id}}_timeintorpor'>{{ c.timeintorpor }}</td>
        <th>Expected Freebies</th>
        <td id='{{c.id}}_expectedfreebies'>{{ c.expectedfreebies }}</td>
        <th>Disciplines</th>
        <td id='{{c.id}}_disciplinepoints'>{{ c.disciplinepoints }}</td>
        <th>Source</th>
        <td class='editable userinput' id='{{c.id}}_source'>{{ c.source }}</td>
    </tr>

    {% include "collector/creature/attributes_header.html" with c=c %}
    {% include "collector/creature/abilities_header.html" with c=c %}

    <tr>
        <th>Alertness</th>
        <td class='editable updown' id='{{c.id}}_talent0'>{{ c.talent0|as_bullets|safe }}</td>
        <th>Animal Ken</th>
        <td class='editable updown' id='{{c.id}}_skill0'>{{ c.skill0|as_bullets|safe }}</td>
        <th>Academics</th>
        <td class='editable updown' id='{{c.id}}_knowledge0'>{{c.knowledge0|as_bullets|safe }}</td>
        {{ c.merit0|param_stack:c.id|as_discipline2:"merit0"|safe }}
    </tr>
    <tr>
        <th>Athletics</th>
        <td class='editable updown' id='{{c.id}}_talent1'>{{ c.talent1|as_bullets|safe }}</td>
        <th>Craft</th>
        <td class='editable updown' id='{{c.id}}_skill1'>{{ c.skill1|as_bullets|safe }}</td>
        <th>Computer</th>
        <td class='editable updown' id='{{c.id}}_knowledge1'>{{c.knowledge1|as_bullets|safe }}</td>
        {{ c.merit1|param_stack:c.id|as_discipline2:"merit1"|safe }}
    </tr>
    <tr>
        <th>Brawl</th>
        <td class='editable updown' id='{{c.id}}_talent2'>{{ c.talent2|as_bullets|safe }}</td>
        <th>Drive</th>
        <td class='editable updown' id='{{c.id}}_skill2'>{{ c.skill2|as_bullets|safe }}</td>
        <th>Finance</th>
        <td class='editable updown' id='{{c.id}}_knowledge2'>{{c.knowledge2|as_bullets|safe }}</td>
        {{ c.merit2|param_stack:c.id|as_discipline2:"merit2"|safe }}
    </tr>
    <tr>
        <th>Dodge</th>
        <td class='editable updown' id='{{c.id}}_talent3'>{{ c.talent3|as_bullets|safe }}</td>
        <th>Etiquette</th>
        <td class='editable updown' id='{{c.id}}_skill3'>{{ c.skill3|as_bullets|safe }}</td>
        <th>Investigation</th>
        <td class='editable updown' id='{{c.id}}_knowledge3'>{{c.knowledge3|as_bullets|safe }}</td>
        {{ c.merit3|param_stack:c.id|as_discipline2:"merit3"|safe }}
    </tr>
    <tr>
        <th>Empathy</th>
        <td class='editable updown' id='{{c.id}}_talent4'>{{ c.talent4|as_bullets|safe }}</td>
        <th>Firearms</th>
        <td class='editable updown' id='{{c.id}}_skill4'>{{ c.skill4|as_bullets|safe }}</td>
        <th>Law</th>
        <td class='editable updown' id='{{c.id}}_knowledge4'>{{c.knowledge4|as_bullets|safe }}</td>
        {{ c.merit4|param_stack:c.id|as_discipline2:"merit4"|safe }}
    </tr>

    <tr>
        <th>Expression</th>
        <td class='editable updown' id='{{c.id}}_talent5'>{{ c.talent5|as_bullets|safe }}</td>
        <th>Melee</th>
        <td class='editable updown' id='{{c.id}}_skill5'>{{ c.skill5|as_bullets|safe }}</td>
        <th>Linguistics</th>
        <td class='editable updown' id='{{c.id}}_knowledge5'>{{c.knowledge5|as_bullets|safe }}</td>
        {{ c.merit5|param_stack:c.id|as_discipline2:"merit5"|safe }}
    </tr>
    <tr>
        <th>Intimidation</th>
        <td class='editable updown' id='{{c.id}}_talent6'>{{ c.talent6|as_bullets|safe }}</td>
        <th>Performance</th>
        <td class='editable updown' id='{{c.id}}_skill6'>{{ c.skill6|as_bullets|safe }}</td>
        <th>Medicine</th>
        <td class='editable updown' id='{{c.id}}_knowledge6'>{{c.knowledge6|as_bullets|safe }}</td>
        {{ c.merit6|param_stack:c.id|as_discipline2:"merit6"|safe }}
    </tr>
    <tr>
        <th>Leadership</th>
        <td class='editable updown' id='{{c.id}}_talent7'>{{ c.talent7|as_bullets|safe }}</td>
        <th>Security</th>
        <td class='editable updown' id='{{c.id}}_skill7'>{{ c.skill7|as_bullets|safe }}</td>
        <th>Occult</th>
        <td class='editable updown' id='{{c.id}}_knowledge7'>{{c.knowledge7|as_bullets|safe }}</td>
        {{ c.merit7|param_stack:c.id|as_discipline2:"merit7"|safe }}
    </tr>

    <tr>
        <th>Streetwise</th>
        <td class='editable updown' id='{{c.id}}_talent8'>{{ c.talent8|as_bullets|safe }}</td>
        <th>Stealth</th>
        <td class='editable updown' id='{{c.id}}_skill8'>{{ c.skill8|as_bullets|safe }}</td>
        <th>Politics</th>
        <td class='editable updown' id='{{c.id}}_knowledge8'>{{c.knowledge8|as_bullets|safe }}</td>
        {{ c.merit8|param_stack:c.id|as_discipline2:"merit8"|safe }}
    </tr>
    <tr>
        <th>Subterfuge</th>
        <td class='editable updown' id='{{c.id}}_talent9'>{{ c.talent9|as_bullets|safe }}</td>
        <th>Survival</th>
        <td class='editable updown' id='{{c.id}}_skill9'>{{ c.skill9|as_bullets|safe }}</td>
        <th>Science</th>
        <td class='editable updown' id='{{c.id}}_knowledge9'>{{c.knowledge9|as_bullets|safe }}</td>
        {{ c.merit9|param_stack:c.id|as_discipline2:"merit9"|safe }}
    </tr>
    <tr>
        <td colspan=2>Backgrounds</td>
        <td colspan=2>Disciplines</td>
        <td colspan=2>Virtues</td>
        <td colspan=2>Flaws</td>
    </tr>
    <tr>
        <th>Allies</th>
        <td class='editable updown' id='{{c.id}}_background0'>{{ c.background0|as_bullets|safe }}</td>
        {{ c.gift0|param_stack:c.id|as_discipline2:"gift0"|safe }}
        <th>Conscience</th>
        <td class='editable updown' id='{{c.id}}_level0'>{{ c.level0|as_bullets|safe }}</td>
        {{ c.flaw0|param_stack:c.id|as_discipline2:"flaw0"|safe }}
    </tr>
    <tr>
        <th>Contacts</th>
        <td class='editable updown' id='{{c.id}}_background1'>{{ c.background1|as_bullets|safe }}</td>
        {{ c.gift1|param_stack:c.id|as_discipline2:"gift1"|safe }}
        <th>Self-Control</th>
        <td class='editable updown' id='{{c.id}}_level1'>{{ c.level1|as_bullets|safe }}</td>
        {{ c.flaw1|param_stack:c.id|as_discipline2:"flaw1"|safe }}
    </tr>
    <tr>
        <th>Fame</th>
        <td class='editable updown' id='{{c.id}}_background2'>{{ c.background2|as_bullets|safe }}</td>
        {{ c.gift2|param_stack:c.id|as_discipline2:"gift2"|safe }}
        <th>Courage</th>
        <td class='editable updown' id='{{c.id}}_level2'>{{ c.level2|as_bullets|safe }}</td>
        {{ c.flaw2|param_stack:c.id|as_discipline2:"flaw2"|safe }}
    </tr>
    <tr>
        <th>Generation</th>
        <td class='editable updown' id='{{c.id}}_background3'>{{ c.background3|as_bullets|safe }}</td>
        {{ c.gift3|param_stack:c.id|as_discipline2:"gift3"|safe }}
        <th></th>
        <td></td>
        {{ c.flaw3|param_stack:c.id|as_discipline2:"flaw3"|safe }}
    </tr>
    <tr>
        <th>Herd</th>
        <td class='editable updown' id='{{c.id}}_background4'>{{ c.background4|as_bullets|safe }}</td>
        {{ c.gift4|param_stack:c.id|as_discipline2:"gift4"|safe }}
        <th></th>
        <td></td>
        {{ c.flaw4|param_stack:c.id|as_discipline2:"flaw4"|safe }}
    </tr>
    <tr>
        <th>Influence</th>
        <td class='editable updown' id='{{c.id}}_background5'>{{ c.background5|as_bullets|safe }}</td>
        {{ c.gift5|param_stack:c.id|as_discipline2:"gift5"|safe }}
        <th></th>
        <td></td>
        {{ c.flaw5|param_stack:c.id|as_discipline2:"flaw5"|safe }}
    </tr>
    <tr>
        <th>Mentor</th>
        <td class='editable updown' id='{{c.id}}_background6'>{{ c.background6|as_bullets|safe }}</td>
        {{ c.gift6|param_stack:c.id|as_discipline2:"gift6"|safe }}
        <th></th>
        <td></td>
        {{ c.flaw6|param_stack:c.id|as_discipline2:"flaw6"|safe }}
    </tr>
    <tr>
        <th>Resources</th>
        <td class='editable updown' id='{{c.id}}_background7'>{{ c.background7|as_bullets|safe }}</td>
        {{ c.gift7|param_stack:c.id|as_discipline2:"gift7"|safe }}
        <th>Path of {{c.path}}</th>
        <td class='editable updown' id='{{c.id}}_power1'>{{ c.power1|as_bullets|safe }}</td>
        {{ c.flaw7|param_stack:c.id|as_discipline2:"flaw7"|safe }}
    </tr>
    <tr>
        <th>Retainers</th>
        <td class='editable updown' id='{{c.id}}_background8'>{{ c.background8|as_bullets|safe }}</td>
        {{ c.gift8|param_stack:c.id|as_discipline2:"gift8"|safe }}
        <th>Willpower</th>
        <td class='editable updown' id='{{c.id}}_willpower'>{{ c.willpower|as_bullets|safe }}</td>
        {{ c.flaw8|param_stack:c.id|as_discipline2:"flaw8"|safe }}
    </tr>
    <tr>
        <th>Status</th>
        <td class='editable updown' id='{{c.id}}_background9'>{{ c.background9|as_bullets|safe }}</td>
        {{ c.gift9|param_stack:c.id|as_discipline2:"gift9"|safe }}
        <th>Blood Pool</th>
        <td>{{ c.power2 }}</td>
        {{ c.flaw9|param_stack:c.id|as_discipline2:"flaw9"|safe }}
    </tr>
</table>
