{% load wod_filters %}
<tr>
    <th>Age</th>
    <td class='editable userinput' id='{{c.id}}_age'>{{c.age}}</td>
    <th>Nature</th>
    <td class='editable userinput' id='{{c.id}}_nature'>{{c.nature}}</td>
    <th>Condition</th>
    <td class='editable userinput' id='{{c.id}}_condition'>{{c.condition}}</td>
    <th>Gender</th>
    <td class='editable userinput' id='{{c.id}}_sex'>{% if c.sex == False %}Female{%else%}Male{%endif%}</td>
</tr>
<tr>
    <th>Concept</th>
    <td class='editable userinput' id='{{c.id}}_concept'>{{ c.concept }}</td>
    <th>Demeanor</th>
    <td class='editable userinput' id='{{c.id}}_demeanor'>{{c.demeanor}}</td>
    <th>Status</th>
    <td class='editable userinput' id='{{c.id}}_status'>{{c.status}}</td>
    <th>Freebies</th>
    <td id='{{c.id}}_freebies'>{{ c.freebies }}</td>

</tr>
<tr>
    <th>Faction</th>
    <td class='editable userinput' id='{{c.id}}_faction'>{{ c.faction }}</td>
    <th>Group</th>
    <td class='editable userinput' id='{{c.id}}_group'>{{c.group}}</td>
    <th>Subgroup</th>
    <td class='editable userinput' id='{{c.id}}_groupspec'>{{c.groupspec}}</td>
    </td>
    <th>Expected Freebies</th>
    <td id='{{c.id}}_expectedfreebies'>{{ c.expectedfreebies }}</td>
</tr>