<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <title>{% block title %}By Night{% endblock %}</title>
    {% load static %}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/solid.css'
          integrity='sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css'
          integrity='sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV' crossorigin='anonymous'>
    <script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chartjs/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jspdf/dist/jspdf.umd.js' %}"></script>
    <script type="text/javascript" src="{% static 'd3/d3.js' %}"></script>
    <script src='{% static "js/collector.es6" %}'></script>
    <script src='{% static "js/gaia_wheel.es6" %}'></script>
    <script src='{% static "js/kindred_lineage.es6" %}'></script>
    <script src='{% static "js/cross_over_sheet.es6" %}'></script>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Cinzel">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Trade+Winds">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Imprima">
    {% load compress %}
    {% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static "collector/css/main.scss" %}'/>
    {% endcompress %}


</head>
<body>
<ul class='bar'>
    <li class="pull_down">
    {{chronicle_name}}
    </li>
    <li class="pull_down" id="chronicle_menu">
    {% include "collector/page/chronicles.html" with c=chronicles%}
    </li>
    <li class="pull_down">
        <i id='toggle_list' class='fa fa-users'></i>&nbsp;Creatures
        <ul class="drop_down">
            <li class="list" id="all">All</li>
            <li class="list" id="sabbat">Sabbat</li>
            <li class="list" id="camarilla">Camarilla</li>
            <li class="list" id="vtm">All Kindreds & Ghouls</li>
            <li class="list" id="garou">Garous</li>
            <li class="list" id="wta">All Garous & Kinfolks</li>
            <li class="list" id="pentex">Black Spirals & Fomori</li>
            <li class="list" id="mortals">Mortals, Ghouls & Kinfolks</li>
        </ul>
    </li>
    <li class="pull_down">
        <i id='toggle_lineage' class='fa fa-sitemap'></i>&nbsp;Display
        <ul class="drop_down">
            <li class="display" id="kindred_lineage">Kindred Lineage</li>
            <li class="display" id="gaia_wheel">Gaia Wheel</li>
            <li class="display" id="crossover_sheet">Cross+Over Sheet</li>
        </ul>
    </li>
    <li class="pull_down">
        <i id='toggle_chronicle' class='fa fa-cogs'></i>&nbsp;Options
        <ul class="drop_down">
            <li>Settings</li>
            <li>Export</li>
            <li>Import</li>
        </ul>
    </li>
    <input type='text' id='userinput' placeholder='Free text here...'>
</ul>



<div class='wrapper' style="background-image: url('{% static chronicle_logo %}')">
    <div class='charlist'>
        {% block list %}
        {% endblock list %}
    </div>
    <div id='d3area'>
    </div>
    <div class='details'>
        {% block creature %}
        {% endblock creature %}
    </div>
</div>


{% block javascript %}
{% endblock javascript %}
<div id="custom_js"></div>
    <script>
    _.defer(function(){
        let co = new WawwodCollector()
        co.perform();
    });
    </script>
</body>
</html>
