@font-face {
  font-family: 'Titre';
  src: url("/static/collector/fonts/marcellus_sc_regular.ttf?eb4ce38ab744"); }

@font-face {
  font-family: 'Texte';
  src: url("/static/collector/fonts/Balthazar-Regular.ttf?dcb925227561"); }

@font-face {
  font-family: 'TexteLibre';
  src: url("/static/collector/fonts/WorkSans-Regular.ttf?52f349a90c70"); }

@font-face {
  font-family: 'Emphase';
  src: url("/static/collector/fonts/Eczar-Regular.ttf?dcb925227561"); }

/* line 21, collector/static/collector/css/main.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%; }

/* line 27, collector/static/collector/css/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Titre;
  font-weight: normal; }

/* line 31, collector/static/collector/css/main.scss */
body {
  font-family: Texte;
  background: #C0C0C0; }

/* line 35, collector/static/collector/css/main.scss */
body .logo {
  background: transparent url("/static/collector/nybn_wawwod.png?fc4ba9518ecd") center center no-repeat;
  position: fixed;
  display: block;
  left: auto;
  right: 0px;
  width: 600px;
  top: -50px;
  height: 100px;
  z-index: 50; }

/* line 51, collector/static/collector/css/main.scss */
body .wrapper .list .pagination {
  text-align: center;
  margin-top: 1em; }

/* line 56, collector/static/collector/css/main.scss */
body .wrapper .list .pagination a,
body .wrapper .list .pagination strong,
body .wrapper .list .pagination span.nav {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em;
  color: white;
  font-size: 0.77em;
  background: #1d1d1d;
  padding: 0.5em 0.8em;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer; }

/* line 70, collector/static/collector/css/main.scss */
body .wrapper .list .creature_actions {
  display: inline-block;
  cursor: pointer;
  color: black;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 2px; }

/* line 79, collector/static/collector/css/main.scss */
body .wrapper .list .creature_actions a, body .wrapper .list .character_actions span.nav {
  cursor: pointer; }

/* line 82, collector/static/collector/css/main.scss */
body .wrapper .list .creature_actions a:hover, body .wrapper .list .character_actions span.nav:hover {
  color: #6a6a6a; }

/* line 85, collector/static/collector/css/main.scss */
body .wrapper .list ul, body .wrapper .list ol {
  text-indent: 0;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none; }

/* line 92, collector/static/collector/css/main.scss */
body .wrapper .list ul li, body .wrapper .list ol li {
  margin: 0; }

/* line 97, collector/static/collector/css/main.scss */
.subsection {
  font-weight: bold;
  color: #DBCA86;
  text-decoration: underline; }

/* line 102, collector/static/collector/css/main.scss */
.pdflink {
  color: #E5DECA;
  text-decoration: none;
  background: #1d1d1d;
  display: inline-block;
  padding: 3px; }

/* line 109, collector/static/collector/css/main.scss */
.ping {
  background: orange; }

/* line 112, collector/static/collector/css/main.scss */
.avatar_link {
  margin: 0.5em 1ex 0.5em 1ex;
  box-shadow: 2px 2px 8px #040404;
  padding: 5px;
  border: 1px solid black;
  font-size: 0.83em;
  border-radius: 5px;
  background: #E0E0E0;
  color: #202020; }

/* line 122, collector/static/collector/css/main.scss */
.avatar_link a {
  color: white;
  text-decoration: none; }

/* line 126, collector/static/collector/css/main.scss */
.avatar_link a:hover {
  color: #6a6a6a; }

/* line 129, collector/static/collector/css/main.scss */
.avatar_link small {
  font-size: 0.75em; }

/* line 132, collector/static/collector/css/main.scss */
.avatar_link em {
  font-weight: bold;
  font-style: normal;
  font-family: Titre; }

/* line 138, collector/static/collector/css/main.scss */
.avatar_link.locked {
  background: #221a00;
  border-color: #DBCA86; }

/* line 142, collector/static/collector/css/main.scss */
.avatar_link.selected {
  border-color: #DBCA86;
  background: #6a6a6a;
  color: black; }

/* line 147, collector/static/collector/css/main.scss */
.waiting {
  cursor: progress;
  opacity: 0.95; }

/* line 151, collector/static/collector/css/main.scss */
.golden {
  color: #ffcc22; }

/* line 154, collector/static/collector/css/main.scss */
.blank {
  color: #C0C0C0;
  opacity: 0.5; }

/* line 158, collector/static/collector/css/main.scss */
.embedded_link {
  color: #DBCA86;
  text-decoration: none; }

/* line 162, collector/static/collector/css/main.scss */
.custom_glance {
  cursor: help; }

/* line 166, collector/static/collector/css/main.scss */
.shown {
  display: block; }

/* line 169, collector/static/collector/css/main.scss */
.noPDF:before {
  content: '(x) '; }

/* Normal --------------------------------------------------------------------*/
@media all and (min-width: 1024px) {
  /* line 175, collector/static/collector/css/main.scss */
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll; }
  /* line 181, collector/static/collector/css/main.scss */
  body .wrapper {
    z-index: 60;
    margin-left: 0;
    width: 99%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 0.5% 250px 1fr 200px 0.5%;
    grid-column-gap: 5px;
    justify-content: center;
    align-content: stretch; }
  /* line 192, collector/static/collector/css/main.scss */
  body .wrapper .list {
    grid-column: 1 / 3; }
  /* line 195, collector/static/collector/css/main.scss */
  body .wrapper .details {
    grid-column: 3 / 3;
    min-height: 1000px; }
  /* line 199, collector/static/collector/css/main.scss */
  body .wrapper .menuright {
    grid-column: 4 / 6; } }

/* line 203, collector/static/collector/css/main.scss */
.creature a:visited, .creature a:link, .creature a:hover, .creature a:active {
  color: black; }

/* line 206, collector/static/collector/css/main.scss */
.creature {
  font-size: 9pt;
  border-radius: 8px;
  background: transparent; }

/* line 212, collector/static/collector/css/main.scss */
.creature table {
  font-family: Texte;
  color: black;
  background: #FFFFFF;
  margin: auto;
  top: 50px;
  padding: 5px; }

/* line 220, collector/static/collector/css/main.scss */
.creature table tr {
  padding: 0;
  margin: 0; }

/* line 224, collector/static/collector/css/main.scss */
.creature table th {
  background: silver;
  color: black;
  font-size: 10pt;
  font-family: Titre;
  margin: 0;
  border: none;
  width: 110px;
  border: 2px solid transparent;
  padding: 3px; }

/* line 236, collector/static/collector/css/main.scss */
.creature table tr:last-child th {
  border-radius: 0 0 6px 6px; }

/* line 239, collector/static/collector/css/main.scss */
.creature table tr:first-child td {
  border-radius: 5px 5px 0 0;
  background: #F0F0F0; }

/* line 243, collector/static/collector/css/main.scss */
.creature .navigator {
  background: #C0C0C0;
  text-align: center;
  font-family: TexteLibre;
  font-size: 16px; }

/* line 249, collector/static/collector/css/main.scss */
.creature table td {
  font-size: 8pt;
  font-family: TexteLibre;
  text-align: left;
  margin: 0;
  padding: 3px;
  width: 110px;
  background: transparent;
  border: 2px solid transparent; }

/* line 262, collector/static/collector/css/main.scss */
.creature table td.editable.updown.focus {
  border: 2px solid green; }

/* line 266, collector/static/collector/css/main.scss */
.creature table td.editable.userinput.focus {
  border: 2px solid orange; }

/* line 270, collector/static/collector/css/main.scss */
.clan_logo {
  width: 80px; }

/* line 273, collector/static/collector/css/main.scss */
.creature strong {
  font-family: Titre;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.4em; }

/* line 279, collector/static/collector/css/main.scss */
.creature.Sabbat table th {
  background: #A09090; }

/* line 282, collector/static/collector/css/main.scss */
.creature.Camarilla table th {
  background: #90A090; }

/* line 285, collector/static/collector/css/main.scss */
.creature.Independant table th {
  background: #A090A0; }

/* line 288, collector/static/collector/css/main.scss */
.creature.Inconnu table th {
  background: #A0A0A0; }

/* line 291, collector/static/collector/css/main.scss */
.creature.Anarchs table th {
  background: #90A0A0; }

/* line 295, collector/static/collector/css/main.scss */
.avatar_link.Sabbat {
  background: #A09090; }

/* line 298, collector/static/collector/css/main.scss */
.avatar_link.Camarilla {
  background: #90A090; }

/* line 301, collector/static/collector/css/main.scss */
.avatar_link.Independant {
  background: #A090A0; }

/* line 304, collector/static/collector/css/main.scss */
.avatar_link.Inconnu {
  background: #A0A0A0; }

/* line 307, collector/static/collector/css/main.scss */
.avatar_link.Anarchs {
  background: #90A0A0; }

/* line 311, collector/static/collector/css/main.scss */
.creature table.freewidth tr td {
  width: auto; }

/* line 315, collector/static/collector/css/main.scss */
.list .goodies {
  width: auto;
  height: auto;
  margin: 5px;
  text-align: center;
  padding: 5px; }

/* line 322, collector/static/collector/css/main.scss */
.list .goodies span {
  cursor: pointer;
  font-family: Titre; }

/* line 334, collector/static/collector/css/main.scss */
#caine_roots {
  text-align: center;
  font-size: 12px; }

/* line 339, collector/static/collector/css/main.scss */
svg {
  background: transparent;
  margin-top: 50px;
  height: 950px;
  width: 100%;
  border: 1px ridge #aaa; }

/* line 348, collector/static/collector/css/main.scss */
.overlay {
  cursor: move;
  border: none;
  background: transparent; }

/* line 354, collector/static/collector/css/main.scss */
rect {
  fill: #ccc;
  stroke: #333; }

/* line 359, collector/static/collector/css/main.scss */
rect.plate {
  fill: #333;
  stroke: #888;
  stroke-width: 0.5px;
  cursor: pointer; }

/* line 366, collector/static/collector/css/main.scss */
rect.band {
  fill: #B0B0B0;
  stroke: #505050;
  stroke-width: 0px; }

/* line 372, collector/static/collector/css/main.scss */
rect.plate.Sabbat {
  fill: #301010; }

/* line 376, collector/static/collector/css/main.scss */
rect.plate.Camarilla {
  fill: #103010; }

/* line 380, collector/static/collector/css/main.scss */
rect.plate.Anarchs {
  fill: #101030; }

/* line 385, collector/static/collector/css/main.scss */
rect.plate.Inconnu {
  fill: #101010; }

/* line 389, collector/static/collector/css/main.scss */
image.ghost,
rect.ghost {
  stroke: #CCC;
  fill: #BBB; }

/* line 397, collector/static/collector/css/main.scss */
.name {
  font-size: 1em;
  font-family: "Titre";
  stroke: #888;
  fill: #fff;
  stroke-width: 0.7px; }

/* line 404, collector/static/collector/css/main.scss */
.property {
  font-family: "TexteLibre";
  font-size: 0.9em;
  stroke: #888;
  fill: #fff;
  stroke-width: 0.6px; }

/* line 412, collector/static/collector/css/main.scss */
.ghost {
  fill: #111;
  stroke: #666;
  stroke-width: 0px;
  opacity: 0.8; }

/* line 422, collector/static/collector/css/main.scss */
.link {
  fill: none;
  stroke: #A22;
  stroke-width: 2px;
  opacity: 0.5; }
